<h3>Orientation</h3>
<p-tabView orientation="left">
  <p-tabPanel header="Lionel Messi" [selected]="true">
    Lionel Andrés Messi Cuccittini (Rosario, 24 de junio de 1987), conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista, y ha desarrollado toda su carrera en el F. C. Barcelona de la Primera División de España y en la selección argentina, de la que es capitán.
  </p-tabPanel>
  <p-tabPanel header="Cristiano Ronaldo">
    Cristiano Ronaldo, GOIH, ComMpronunciación en portugués: /kɾiʃˈtiɐnu ʁuˈnaɫdu/) (Funchal, Madeira, 5 de febrero de 1985), es un futbolista portugués que juega como delantero en el Real Madrid Club de Fútbol de la Primera División de España y en la selección de Portugal, de la que es capitán.
  </p-tabPanel>
  <p-tabPanel header="Álex Aguinaga">
    Álex Darío Aguinaga Garzón (n. Ibarra, Provincia de Imbabura, Ecuador; 9 de julio de 1968), conocido simplemente como Álex Aguinaga, es un exfutbolista y actual entrenador ecuatoriano. Desarrolló su carrera desde mediados la década de 1980 hasta mediados de los años 2000, llegando a ser considerado como uno de los grandes jugadores de la historia del fútbol Ecuatoriano, destacando notablemente en la Selección Ecuatoriana y en la Primera División de México.
  </p-tabPanel>
</p-tabView>
