<h3 style="text-align: center">Informacion del Jugador</h3>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-6">
    <p>Numero de Camiseta</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Nombre en la Camiseta</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Nombre del Jugador</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Poder especial dos</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Fecha de Ingreso al equipo</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>goles</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p>Codigo del equipo</p>
  </div>
  <div class="col-sm-6">
    <p-chips formControlName="cities"></p-chips>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <button pButton type="button" label="Crear" ></button>
  </div>
  <div class="col-sm-6">
    <button pButton type="button" label="Limpiar" ></button>
  </div>
</div>

