<p-card title="Liga Deportiva Universitaria de Quito" [style]="{width: '360px'}">
  <div>Liga Deportiva Universitaria, conocido también como Liga de Quito o simplemente Liga y por sus siglas LDU, es un club deportivo ecuatoriano originario de la ciudad de Quito. Inició sus actividades en 1918 como un equipo de fútbol universitario de la Universidad Central del Ecuador y el 11 de enero de 1930 fue fundado oficialmente como Liga Deportiva Universitaria.9
    Su disciplina principal es el fútbol en el que es parte de la Serie A de Ecuador desde 1960.
  </div>
</p-card>

<br>
<br>
