<div>
  <h1 style="text-align: center">Registro de Equipos de futbol</h1>
  <div class="row"><p></p></div>
  <div class="row"><p></p></div>
  <div class="row">
    <div class="col-sm-6">
      <app-carrusel-anime></app-carrusel-anime>
    </div>
    <div class="col-sm-6">
      <app-entrada-uno></app-entrada-uno>
    </div>
  </div>
  <div class="row"><p></p></div>
  <div class="row">
    <app-equipos-ingresados></app-equipos-ingresados>
  </div>
  <div class="row"><p></p></div>
  <div class="row"><p></p></div>
  <div class="row">
    <div class="col-sm-6">
      <app-entrada-dos></app-entrada-dos>
    </div>
    <div class="col-sm-6">
      <app-simple-card></app-simple-card>
    </div>
  </div>
  <div class="row"><p></p></div>
  <div class="row">
    <app-talba-prime></app-talba-prime>
  </div>



</div>
